@model IEnumerable<Admin.Models.ProfissionalViewModel>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">
                    @ViewBag.OptNome
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">


                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="contratar-tab" href="#">Contratar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contratados-tab" href="#">Contratados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="avaliar-tab" href="#">Avaliar</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="contratar" role="tabpanel" aria-labelledby="contratar-tab">
                                <div class="card stacked-form">
                                    <div class="card-header ">
                                        <h4 class="card-title"></h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table id="tbContratar" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Profissional</th>
                                                    <th>Especialidade</th>
                                                    <th>Local</th>
                                                    <th>Valor</th>
                                                    <th>Avaliação</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    if (item.StatusId != null && item.StatusId == 2) //Aguardando
                                                    {
                                                        <tr id="@item.UsuarioId">
                                                            <td>
                                                                @item.UsuarioId
                                                                @*<div class="row">
                                                                    <div class="col-sm-6">
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <img src="@item.Avatar" class="img-circle img-responsive img-rounded" width="25" height="25" />
                                                                    </div>
                                                                </div>*@
                                                            </td>
                                                            <td onclick="getProfissional(@item.Id)">
                                                                @item.Nome
                                                            </td>
                                                            <td>
                                                                @item.Especialidade
                                                            </td>
                                                            <td>
                                                                @item.Endereco.Local
                                                            </td>
                                                            <td>
                                                                R$: @item.Valor
                                                            </td>
                                                            <td>
                                                                <select id="@item.Avaliacao" disabled>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(1) ? "selected" : "") value="1">1</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(2) ? "selected" : "") value="2">2</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(3) ? "selected" : "") value="3">3</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(4) ? "selected" : "") value="4">4</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(5) ? "selected" : "") value="5">5</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-link btn-success table-action view" onclick="aprovarProfissional(@item.UserXOportunidadeId, @item.OportunidadeId, @item.UsuarioId)">
                                                                    <i class="nc-icon nc-circle-09" />
                                                                </a>
                                                                <a class="btn btn-link btn-danger table-action view" onclick="reprovarProfissional(@item.UserXOportunidadeId, @item.OportunidadeId, @item.UsuarioId)">
                                                                    <i class="nc-icon nc-simple-remove" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer ">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contratados" role="tabpanel" aria-labelledby="contratados-tab">
                                <div class="card stacked-form">
                                    <div class="card-header ">
                                        <h4 class="card-title"></h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table id="tbContratados" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Profissional</th>
                                                    <th>Especialidade</th>
                                                    <th>Local</th>
                                                    <th>Valor</th>
                                                    <th>Avaliação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    if (item.StatusId != null && item.StatusId == 1) //Aprovado
                                                    {
                                                        <tr id="@item.UsuarioId">
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        @item.UsuarioId
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <img src="@item.Avatar" class="img-circle img-responsive img-rounded" width="25" height="25" />
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @item.Nome
                                                            </td>
                                                            <td>
                                                                @item.Especialidade
                                                            </td>
                                                            <td>
                                                                @item.Endereco.Local
                                                            </td>
                                                            <td>
                                                                @item.Valor
                                                            </td>
                                                            <td>
                                                                <select id="@item.Avaliacao" disabled>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(1) ? "selected" : "") value="1">1</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(2) ? "selected" : "") value="2">2</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(3) ? "selected" : "") value="3">3</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(4) ? "selected" : "") value="4">4</option>
                                                                    <option @(Convert.ToInt32(item.Avaliacao).Equals(5) ? "selected" : "") value="5">5</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer ">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="avaliacao" role="tabpanel" aria-labelledby="avaliar-tab">
                                <div class="card stacked-form">
                                    <div class="card-header ">
                                        <h4 class="card-title"></h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table id="tbAvaliar" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nome</th>
                                                    <th>Avaliação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in (ViewBag.CheckIns as IEnumerable<Admin.Models.CheckInViewModel>))
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.UsuarioID
                                                        </td>
                                                        <td>
                                                            @item.Nome
                                                        </td>
                                                        <td>
                                                            <select onchange="guardaCache(@item.UsuarioID, @item.OportunidadeId)" id="@item.UsuarioID">
                                                                <option selected="selected" value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer ">
                                        <div class="row">
                                            <div class="col-md-10"></div>
                                            <div class="col-md-2">
                                                <button type="button" id="btnAvaliar" class="btn btn-fill btn-primary">Avaliar todos</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#contratados-tab').click(function () {
        $('#contratar-tab').removeClass('active');
        $('#avaliar-tab').removeClass('active');
        $(this).addClass('active');
        $('#contratar').removeClass('show active');
        $('#avaliacao').removeClass('show active');
        $('#contratados').addClass('show active');
    });

    $('#contratar-tab').click(function () {
        $('#contratados-tab').removeClass('active');
        $('#avaliar-tab').removeClass('active');
        $(this).addClass('active');
        $('#contratados').removeClass('show active');
        $('#avaliacao').removeClass('show active');
        $('#contratar').addClass('show active');
    });

    $('#avaliar-tab').click(function () {
        $('#contratados-tab').removeClass('active');
        $('#contratar-tab').removeClass('active');
        $(this).addClass('active');
        $('#contratados').removeClass('show active');
        $('#contratar').removeClass('show active');
        $('#avaliacao').addClass('show active');
    });

    $('#btnAvaliar').click(function () {
        avaliarProfissionais();
    });
</script>
